// Couleurs
$clouds : #ECF0F1;
$lightOrange : #e67e22;
$darkOrange : #d35400;
$lightRed : #e74c3c;
$darkRed : #c0392b;
$lightBlue : #3498db;
$darkBlue : #2980b9;
$lightAsphaltBlue : #34495e;


// Temps animation couleur
$colorAnimationTime : 60s; 


// Animation de changement de couleur du background
@-webkit-keyframes backgroundColorChange
{
	0% {background-color:$lightOrange;}
	14.3% {background-color:$darkOrange;}
	28.6% {background-color:$lightRed;}
	42.9% {background-color:$darkRed;}
	57.2% {background-color:$lightBlue;}
	71.5% {background-color:$darkBlue;}
	85.8% {background-color:$lightAsphaltBlue;}
	100% {background-color:$lightOrange;}	
}

@keyframes backgroundColorChange {	
	0% {background-color:$lightOrange;}
	14.3% {background-color:$darkOrange;}
	28.6% {background-color:$lightRed;}
	42.9% {background-color:$darkRed;}
	57.2% {background-color:$lightBlue;}
	71.5% {background-color:$darkBlue;}
	85.8% {background-color:$lightAsphaltBlue;}
	100% {background-color:$lightOrange;}	
}


// Animation changement de couleur des inputs
@-webkit-keyframes colorChange
{
	0% {color:$lightOrange;}
	14.3% {color:$darkOrange;}
	28.6% {color:$lightRed;}
	42.9% {color:$darkRed;}
	57.2% {color:$lightBlue;}
	71.5% {color:$darkBlue;}
	85.8% {color:$lightAsphaltBlue;}
	100% {color:$lightOrange;}	
}
@keyframes colorChange {
	0% {color:$lightOrange;}
	14.3% {color:$darkOrange;}
	28.6% {color:$lightRed;}
	42.9% {color:$darkRed;}
	57.2% {color:$lightBlue;}
	71.5% {color:$darkBlue;}
	85.8% {color:$lightAsphaltBlue;}
	100% {color:$lightOrange;}
}

// Couleur plus claire au niveau du hover du bouton 
@-webkit-keyframes backgroundColorChangeLighten
{
	0% {background-color:lighten($lightOrange, 10%);}
	14.3% {background-color:lighten($darkOrange, 10%);}
	28.6% {background-color:lighten($lightRed, 10%);}
	42.9% {background-color:lighten($darkRed, 10%);}
	57.2% {background-color:lighten($lightBlue, 10%);}
	71.5% {background-color:lighten($darkBlue, 10%);}
	85.8% {background-color:lighten($lightAsphaltBlue, 10%);}
	100% {background-color:lighten($lightOrange, 10%);}	
}

@keyframes backgroundColorChangeLighten {	
	0% {background-color:lighten($lightOrange, 10%);}
	14.3% {background-color:lighten($darkOrange, 10%);}
	28.6% {background-color:lighten($lightRed, 10%);}
	42.9% {background-color:lighten($darkRed, 10%);}
	57.2% {background-color:lighten($lightBlue, 10%);}
	71.5% {background-color:lighten($darkBlue, 10%);}
	85.8% {background-color:lighten($lightAsphaltBlue, 10%);}
	100% {background-color:lighten($lightOrange, 10%);}	
}