@import "reset";
@import "ie";
@import "screen";
@import "print";
@import "var";

#left-content {
	height: 50px;
	width: 100%;
	background-color: $bandoColor;
	center{
		img {
			width: 180px;
			margin-top: -65px;
			margin-left: 1%;
			float: left;
		}
	}
}