@import "reset";
@import "animation.css";
@import "ie";
@import "screen";
@import "print";
@import "var";
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

//Partie gauche de la page
#left-content {
	// Changement de couleur
	-webkit-animation:backgroundColorChange $colorAnimationTime infinite;
	animation:backgroundColorChange $colorAnimationTime infinite; 
	width: 35%;
	height: 100vh;
	position: absolute;
	display:table;		
	center{
		display: table-cell;
		vertical-align: middle;
	}
}

//Partie droite de la page
#right-content {
	width: 65%;
	height: 100vh;
	margin-left: 35%;
	position: absolute;
	display: table;
	center{
		display: table-cell;
		vertical-align: middle;
	}
}


form {
	input[type=text], input[type=password]
	{
		// Changement de couleur
		-webkit-animation:colorChange $colorAnimationTime infinite;
		animation:colorChange $colorAnimationTime infinite; 
		width: 200px;
		height: 40px;
		margin-bottom: 10px;
		padding-left: 15px;
		outline: none;	
	}
	input[type=text], input[type=password], input[type=submit]
	{
	  	font-family: 'Roboto';
		font-size: 18px;	
	}
}