<center>
	<!-- Passe dans la variable et vérifie si le formulaire est valide ou non -->
	<form name="loginForm" ng-submit="submitLogin(loginForm.$valid)" novalidate>
	    <ul>
	        <li>
	        	<!-- Username -->
	            <input type="text" placeholder="Username" ng-model="username" required/>
	        </li>
	        <li>
	        	<!-- Password -->
	            <input type="password" placeholder="Password" ng-model="password" required/>
	        </li>
	        <li>
	        	<!-- Submit button -->
	            <input type="submit" value="Login" ng-disabled="loginForm.$invalid"/>
	        </li>
	    </ul>
	</form>	
</center>
