<!-- <center>
		<form name="eventForm" ng-submit="addEvent(eventForm.$valid)" novalidate>
		<div class="message">Plannifiez votre petit déjeuner dès maintenant !</div>
	    <ul>
	        <li>
	            <input type="text" placeholder="Nom" ng-model="eventForm.name" required/>
	        </li>
	        <li>
	            <input type="text" placeholder="Prénom" ng-model="eventForm.firstname" required/>
	        </li>
	        <li>
	            <input type="text" placeholder="Intitulé évènement" ng-model="eventForm.entitled" required/>
	        </li>
	        <li>
	            <input class="datepicker" type="text" placeholder="Date" ng-model="eventForm.date" required/>
	        </li>
	        <li>
	            <input type="submit" value="Ajouter" class="btn" ng-disabled="eventForm.$error.required"/>
	            <p class="required" ng-show="eventForm.$error.required">Tous les champs sont obligatoires !</p>
	        </li>
	    </ul>
	</form>	
</center> -->
<center>
	<div id="calendar-nav" class="custom-header clearfix">		
		<span id="custom-prev" class="custom-prev">previous</span>
		<span id="custom-next" class="custom-next">next</span>
		<h2 id="custom-month" class="custom-month"></h2>
		<h3 id="custom-year" class="custom-year"></h3>
	</div>
	<div id="calendar" class="fc-calendar-container"></div>
</center>


<script type="text/javascript">
	// Initialisation du calendrier Calendario
	var cal = $('#calendar').calendario({
		// initialize calendar with this month (1-12). Default is today
		month : null,
		 
		// initialize calendar with this year. Default is today
		year : null,
		 
		// initial data/content for the calendar
		// format:
		// {
		//      'MM-DD-YYYY' : 'HTML Content',
		//      'MM-DD-YYYY' : 'HTML Content',
		//      'MM-DD-YYYY' : 'HTML Content'
		//      ...
		//  }
		caldata : null,
		weeks : [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
		weekabbrs : [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
		months : [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
		monthabbrs : [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aout', 'Sept', 'Oct', 'Nov', 'Dec' ],
		 
		// choose between values in options.weeks or options.weekabbrs
		displayWeekAbbr : true,
		 
		// choose between values in options.months or options.monthabbrs
		displayMonthAbbr : false,
		 
		// left-most day in the calendar
		// 0 - Sunday, 1 - Monday, ... , 6 - Saturday
		startIn : 1,
		 
		// callback function for when clicking on a day cell in the calendar
		// $el is the cell
		// $content is the content division of the cell
		// dateProperties is an object with the following properties:
		// day : day number,
		// month : month number from 1 - 12,
		// monthname : name from options.months,
		// year : year number,
		// weekday : week number from 0 - 6,
		// weekdayname : name from options.weeks
		onDayClick : function( $el, $content, dateProperties ) { 
			debugger;
			alert("jour n°: " + dateProperties.day); 
		}
	});
	
	// Initialisation des variables
	var month = $('#custom-month');
	var year = $('#custom-year');
	// Mise à jour du mois et de l'année
	updateMonthYear();

	// On défini la navigation au clic
	$('#custom-next').on('click', function(){
		cal.gotoNextMonth(updateMonthYear);
	});

	// On défini la navigation au clic
	$('#custom-prev').on('click', function(){
		cal.gotoPreviousMonth(updateMonthYear);
	});

	// Met à jour la date
	function updateMonthYear(){
		month.html(cal.getMonthName());
		year.html(cal.getYear());
	}
</script>