/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(animation.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@-webkit-keyframes backgroundColorChange {
  /* line 19, ../sass/_var.scss */
  0% {
    background-color: #e67e22;
  }

  /* line 20, ../sass/_var.scss */
  14.3% {
    background-color: #d35400;
  }

  /* line 21, ../sass/_var.scss */
  28.6% {
    background-color: #e74c3c;
  }

  /* line 22, ../sass/_var.scss */
  42.9% {
    background-color: #c0392b;
  }

  /* line 23, ../sass/_var.scss */
  57.2% {
    background-color: #3498db;
  }

  /* line 24, ../sass/_var.scss */
  71.5% {
    background-color: #2980b9;
  }

  /* line 25, ../sass/_var.scss */
  85.8% {
    background-color: #34495e;
  }

  /* line 26, ../sass/_var.scss */
  100% {
    background-color: #e67e22;
  }
}

@keyframes backgroundColorChange {
  /* line 30, ../sass/_var.scss */
  0% {
    background-color: #e67e22;
  }

  /* line 31, ../sass/_var.scss */
  14.3% {
    background-color: #d35400;
  }

  /* line 32, ../sass/_var.scss */
  28.6% {
    background-color: #e74c3c;
  }

  /* line 33, ../sass/_var.scss */
  42.9% {
    background-color: #c0392b;
  }

  /* line 34, ../sass/_var.scss */
  57.2% {
    background-color: #3498db;
  }

  /* line 35, ../sass/_var.scss */
  71.5% {
    background-color: #2980b9;
  }

  /* line 36, ../sass/_var.scss */
  85.8% {
    background-color: #34495e;
  }

  /* line 37, ../sass/_var.scss */
  100% {
    background-color: #e67e22;
  }
}

@-webkit-keyframes colorChange {
  /* line 44, ../sass/_var.scss */
  0% {
    color: #e67e22;
  }

  /* line 45, ../sass/_var.scss */
  14.3% {
    color: #d35400;
  }

  /* line 46, ../sass/_var.scss */
  28.6% {
    color: #e74c3c;
  }

  /* line 47, ../sass/_var.scss */
  42.9% {
    color: #c0392b;
  }

  /* line 48, ../sass/_var.scss */
  57.2% {
    color: #3498db;
  }

  /* line 49, ../sass/_var.scss */
  71.5% {
    color: #2980b9;
  }

  /* line 50, ../sass/_var.scss */
  85.8% {
    color: #34495e;
  }

  /* line 51, ../sass/_var.scss */
  100% {
    color: #e67e22;
  }
}

@keyframes colorChange {
  /* line 54, ../sass/_var.scss */
  0% {
    color: #e67e22;
  }

  /* line 55, ../sass/_var.scss */
  14.3% {
    color: #d35400;
  }

  /* line 56, ../sass/_var.scss */
  28.6% {
    color: #e74c3c;
  }

  /* line 57, ../sass/_var.scss */
  42.9% {
    color: #c0392b;
  }

  /* line 58, ../sass/_var.scss */
  57.2% {
    color: #3498db;
  }

  /* line 59, ../sass/_var.scss */
  71.5% {
    color: #2980b9;
  }

  /* line 60, ../sass/_var.scss */
  85.8% {
    color: #34495e;
  }

  /* line 61, ../sass/_var.scss */
  100% {
    color: #e67e22;
  }
}

@-webkit-keyframes backgroundColorChangeLighten {
  /* line 67, ../sass/_var.scss */
  0% {
    background-color: #eb9950;
  }

  /* line 68, ../sass/_var.scss */
  14.3% {
    background-color: #ff6a07;
  }

  /* line 69, ../sass/_var.scss */
  28.6% {
    background-color: #ed7669;
  }

  /* line 70, ../sass/_var.scss */
  42.9% {
    background-color: #d65548;
  }

  /* line 71, ../sass/_var.scss */
  57.2% {
    background-color: #5faee3;
  }

  /* line 72, ../sass/_var.scss */
  71.5% {
    background-color: #409ad5;
  }

  /* line 73, ../sass/_var.scss */
  85.8% {
    background-color: #46627f;
  }

  /* line 74, ../sass/_var.scss */
  100% {
    background-color: #eb9950;
  }
}

@keyframes backgroundColorChangeLighten {
  /* line 78, ../sass/_var.scss */
  0% {
    background-color: #eb9950;
  }

  /* line 79, ../sass/_var.scss */
  14.3% {
    background-color: #ff6a07;
  }

  /* line 80, ../sass/_var.scss */
  28.6% {
    background-color: #ed7669;
  }

  /* line 81, ../sass/_var.scss */
  42.9% {
    background-color: #d65548;
  }

  /* line 82, ../sass/_var.scss */
  57.2% {
    background-color: #5faee3;
  }

  /* line 83, ../sass/_var.scss */
  71.5% {
    background-color: #409ad5;
  }

  /* line 84, ../sass/_var.scss */
  85.8% {
    background-color: #46627f;
  }

  /* line 85, ../sass/_var.scss */
  100% {
    background-color: #eb9950;
  }
}

/*@import url(http://fonts.googleapis.com/css?family=Bevan);*/
/* line 12, ../sass/site.scss */
#left-content {
  /* -webkit-animation:backgroundColorChange $colorAnimationTime infinite;
  animation:backgroundColorChange $colorAnimationTime infinite;  */
  background-color: #d35400;
  width: 35%;
  height: 100vh;
  position: absolute;
  display: table;
}
/* line 21, ../sass/site.scss */
#left-content center {
  display: table-cell;
  vertical-align: middle;
}

/* line 28, ../sass/site.scss */
#right-content {
  background: white url(/img/background.png) repeat;
  width: 65%;
  height: 100vh;
  margin-left: 35%;
  position: absolute;
  display: table;
}
/* line 35, ../sass/site.scss */
#right-content center {
  display: table-cell;
  vertical-align: middle;
}

/* line 43, ../sass/site.scss */
form input[type=text], form input[type=password] {
  /* -webkit-animation:colorChange $colorAnimationTime infinite;
  animation:colorChange $colorAnimationTime infinite;  */
  color: #d35400;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  outline: none;
}
/* line 55, ../sass/site.scss */
form input[type=text], form input[type=password], form input[type=submit], form .error, form .message, form .required {
  font-family: 'Roboto';
  font-size: 18px;
}

/* line 61, ../sass/site.scss */
.message {
  /* -webkit-animation:backgroundColorChangeLighten $colorAnimationTime infinite;
  animation:backgroundColorChangeLighten $colorAnimationTime infinite;  */
  background-color: #d35400;
  padding: 10px;
  width: 32%;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
}

/* line 73, ../sass/site.scss */
.error, .required {
  background-color: #ed7669;
  padding: 10px;
  width: 32%;
  border-radius: 10px;
  color: white;
}

/* line 82, ../sass/site.scss */
.event {
  /* margin-left: 3%;
  margin-top: 3%; */
  height: 100%;
  width: 100%;
}
/* line 87, ../sass/site.scss */
.event header, .event footer {
  height: 52px;
  width: 280px;
}
/* line 91, ../sass/site.scss */
.event header {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background-color: #323a45;
  color: white;
}
/* line 96, ../sass/site.scss */
.event footer {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  background-color: #ecf0f1;
}
/* line 100, ../sass/site.scss */
.event .date {
  font-family: 'Bevan';
}
/* line 103, ../sass/site.scss */
.event .name {
  font-family: 'Roboto';
}
/* line 106, ../sass/site.scss */
.event .calendar, .event .user {
  margin-left: 6%;
  margin-top: 6%;
}
/* line 110, ../sass/site.scss */
.event .name, .event .date {
  margin-left: 10px;
}

/* line 115, ../sass/site.scss */
.eventContainer {
  display: inline-block;
  height: 104px;
  width: 280px;
  margin: 10px;
}

/* line 122, ../sass/site.scss */
.floating #logo {
  width: 250px;
}

/* Calendrier */
/* line 127, ../sass/site.scss */
.fc-calendar-container {
  height: 400px;
  width: auto;
  padding: 30px;
  background: none !important;
  box-shadow: none !important;
}

/* line 137, ../sass/site.scss */
.fc-calendar .fc-row div {
  background: #fff;
  cursor: pointer;
}
/* line 148, ../sass/site.scss */
.fc-calendar .fc-head {
  background: transparent;
  color: #d35400 !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
